/**************/
/* CSS REMEDY */
/**************/

@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
/* responsive bron: https://www.w3schools.com/html/html_responsive.asp */

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: 'Bartex';
  src: url('fonts/Bartex (1).woff2') format('woff2');
  
}

body {
  font-family: 'Bartex', sans-serif;
  margin: 0;
  /* cursor: url('images/icons8-brush-67.png'), auto; */
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width: 100%;
  max-height: 80vh;
  display: block; 
  margin: 0; 
  float: left;
}


body{
  background-color: #de1f82;
  background-image: url('../images/Barbie\ Achtergrond\ II.png');
background-blend-mode: soft-light; 
background-size: cover;
  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: #facde5; 
  /* ... */

}



/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color: var(--color-headings);
  font-family: 'Bartex';
  text-align: center;  
  transition: color 0.3s; /* Voeg een vloeiende overgang toe */
}

h1:hover {
  color: #000000;

}



/* ... */


