/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: 'Bartex';
  src: url('fonts/Bartex (1).woff2') format('woff2');
  
}

body {
  font-family: 'Bartex', sans-serif;
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width: 100%;
  max-height: 80vh;
  display: block; 
  margin: 0; 
  float: left;
}


body{
  background-color: #de1f82;
  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: #facde5; 
  /* ... */

}



/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color: var(--color-headings);
  font-family: 'Bartex';
  text-align: center;  
  transition: color 0.3s; /* Voeg een vloeiende overgang toe */
}

h1:hover {
  color: #0b76d3;

}


/* ... */


