/**************/
/* CSS REMEDY */
/**************/

/* responsive bron: https://www.w3schools.com/html/html_responsive.asp */
@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
  
}

@font-face {
  font-family: 'Bartex';
  src: url('fonts/Bartex (1).woff2') format('woff2');
  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {
    --color-headings: #de1f82;
    --color-text: #ffffff; 
    
  }
  
  body {
    font-family: 'Bartex', sans-serif;
    margin: 0;
    color: var(--color-text); 
    cursor: url('../images/Cursor3.png'), auto;
    background-color: #de1f82;
    background-image: url('../images/Barbie\ Achtergrond\ II.png');
    background-blend-mode: soft-light; 
    background-size: cover;
    background-attachment: fixed;
  }
  
  h1 {
    color: var(--color-headings);
    font-family: 'Bartex';
    text-align: center;
    margin-left: -10%;
    transition: color 0.3s;
  }
  
  h1:hover {
    color: #facde5;
  }
  
  p {
    text-align: left;
  }

  img {
    max-width: 100%;
    max-height: 80vh;
    display: block; 
    margin: 0; 
    float: left;
  }

  #bovenin-vak {
    background: var(--color-accent); 
    color: var(--color-accent);
    padding: 0.625em;
    text-align: center;
    border-bottom: 1em solid #E0218A;
  }
  
  .afbeeldingen-lijst li:hover {
    transform: translateY(-0.312em);
    background-color: var(--color-accent);
    color: var(--color-headings);
  }
  
  button {
    padding:0.625em 1.25;
    font-size: 1em;
    background-color: var(--color-accent);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* ... */
 



/********************/
/* ALGEMENE STYLING */
/********************/
  
#bovenin-vak {
  background:#FF9900;
  color: #FF9900; 
  padding:0.625em; 
  text-align: center; 
  border-bottom: 1em solid #E0218A; 
  
}


/* Barbie logo rechtsboven */
.kleineAfbeelding {
  width:3.125em;
  height: auto;
  position: fixed;
  top: 1.563em;
  right: 2.5em;
  filter: 
  drop-shadow(0 0 1.563em #E0218A)
  drop-shadow(0 0 1.563em #E0218A)
  drop-shadow(0 0 1.563em #E0218A);
  transition: transform 0.3s ease;
}

/* Hover over het logo rechtsboven, erover heen dan draait het */
.kleineAfbeelding:hover {
  transform: rotate(360deg); 
}

/* Barbie glitter logo bij titel */
#overlapping-image {
  position: absolute;
  top: 2.188em; 
  left: 55%; 
  transform: translateX(-50%); 
  max-width: 100%; 
  height: auto; 
  z-index: 999; 
  transition: transform 0.3s ease;
}

#overlapping-image:hover {
  transform: translateX(-0.312em); 
}

ul:nth-of-type(2) {
  border: 0.063em solid #FACDE5;
  background-color: #FACDE5;
  padding: 0.313em;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 6.25em;
  display: flex;
  align-items: center; 
  list-style-type: none;
  gap:1em;
}

ul li img {
  max-height: fit-content; 
  
}

ul:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9.375em; 
  list-style-type: none;
}

ul li {
  display: flex;
  flex-direction: column;
  color: white;
}


body ul li button {
  background-color: #E0218A;
  border: 0.25em solid #ffffff;
  padding: .5em;
  color: white;
  font-weight: 900;
  font-size: 1.1em;
  margin: .5em;


}

body ul li button:active{
  color: green;
}


body ul li button:hover{
  background-color: #FACDE5;
  color: #de1f82;
  border-color: #de1f82;
}

body ul li button:focus{
 scale: 1;
}

.afbeeldingen-lijst {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.afbeeldingen-lijst li {
  margin:0.625em;
  color: black;
  transition: transform 0.3s ease; 
}

.afbeeldingen-lijst li:hover {
  transform: translateY(-5px); 
}

.afbeeldingen-lijst img {
  width: 9.375em;
  height: auto;
}


.afbeeldingen-container img {
  width: 9.375em;
  height: auto;
  margin: 0.625em 0.313em;
}

.afbeeldingen-container li:hover img {
  /* Logo's gaan iets omhoog bij hover  */
  transform: scale(1.1);
}

footer {
  font-family:'Bartex';
  background: #FACDE5;
  padding: 0;
  margin: 0;
  text-align: center;
  border-bottom: 1em solid #FF9900; 
}

.popup{
  display: grid;
  display: none;
  
}

.popup img:first-of-type{
  scale: 2em;
}

.show{
  display: block;
}


/* bronnen hier zetten */
/* ... */

/* (Mattel, sd)

https://www.officetimeline.com/blog/history-of-barbie-timeline 
https://stage.onestore.barbie.com/en-us/about/history.html
https://en.wikipedia.org/wiki/List_of_Barbie_films
https://en.wikipedia.org/wiki/List_of_Barbie%27s_friends_and_family
https://medium.com/@tasyasalsabila_50333/the-phenomenal-influence-of-the-barbie-movie-a-booming-cultural-impact-cdcd1a59cf#:~:text=Fostering%20Positive%20Role%20Models%3A,values%20in%20their%20daily%20lives.
https://www.fontbolt.com/font/barbie-font/
https://inews.co.uk/culture/every-barbie-ken-movie-ranked-2257461
https://looka.com/blog/barbie-logo/#:~:text=Barbie%20logo%20evolution%20summary,more%20contemporary%20typeface%20was%20introduced.
https://www.w3schools.com/html/html_responsive.asp 
https://turbologo.com/articles/barbie-logo/
https://nl.pinterest.com/pin/951737333735052034/ 
https://wifflegif.com/gifs/269888-transparent-barbie-logo-gif
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://ceconline.co.za/the-cultural-significance-and-redemption-arc-of-barbie/ 
https://www.w3schools.com/cssref/css_pxtoemconversion.php 
https://www.google.com/url?sa=i&url=http%3A%2F%2Fbarbiecafe.blogspot.com%2F2012%2F06%2F&psig=AOvVaw15nkgYHbhKGsjPJZdQsHNO&ust=1699468545732000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCOjy4enDsoIDFQAAAAAdAAAAABAE
https://graziamagazine.com/articles/barbie-movie-characters-real-dolls/ 
https://www.pinterest.es/pin/417357090443663368/ 
https://devdevout.com/px-to-em 
https://icons8.com/icons/set/cursor 
http://www.barbiemedia.com/about-barbie/fast-facts.html 
https://garfield.fandom.com/wiki/Garfield_(character) 
 */



